streamlit==1.41.1
google-generativeai>=0.3.0
pandas
folium
streamlit_folium
plotly.express
exa_py==1.8.8
qdrant-client==1.12.1
langchain-qdrant==0.2.0
langchain-community==0.3.13
agno
tenacity>=8.2.0
